fastapi
uvicorn
pydantic
Pillow
pytesseract
opencv-python
numpy
schedule
streamlit
pandas
plotly
pytz
schedule
snowflake-connector-python
python-dotenv
scikit-learn
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
matplotlib
requests
httpx